@model ImageManagement.Models.ApiImgResultModel
@{
    ViewData["Title"] = "Index";
}

<h2>上传图片调用接口测试</h2>
@using (Html.BeginForm(FormMethod.Post,new{ enctype = "multipart/form-data" }))
{
    <input type="file" name="img" multiple  value="点击上传识别"/>
    <input type="submit" value="识别"/>
}
<div>
    @foreach (var item in this.Model.words_result)
    {
        <label>@item</label>
    }
</div>

